@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}


.titre{
  animation: fadeIn 0.9s ease-out forwards; /* Ajouter une animation fadeIn de 2 secondes avec ease-out */

}
.breadcrumb{
  animation: appearFromLeft 1.2s ease-out forwards;
  

}
@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.containeur {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 120px;
    left: -27px;
    gap: 100px 50px;
    padding: 100px 50px;
    opacity: 0; /* Définir l'opacité initiale à 0 */
    animation: fadeIn 1.5s ease-out forwards 0.4s; /* Ajouter une animation fadeIn de 2 secondes avec ease-out */

  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Optionnel : ajoute un léger déplacement vers le haut */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
  .containeur .carte {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    top: -63px;
    left: -20px;
    height: 60px;
    background: #f7f7f7;
    border-radius: 12px ;
    box-shadow:  0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  
  }
  
  .containeur .carte {
    height: 260px;
    
  }
  @keyframes animateImgBxe {
    0% {
      top: -150px;
      right: -120px;
      transform: scale(0.80);
      opacity: 0.6;
    }
    50% {
      top: -105px; /* Animation à mi-chemin */
      right: -143px; /* Animation à mi-chemin */
      transform: scale(0.83); /* Animation à mi-chemin */
      opacity: 0.8; /* Animation à mi-chemin */
    }
    100% {
      top: -60px;
      right: -165px;
      transform: scale(0.85);
      box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
    
  .containeur .carte .imgBxe {
    position: absolute;
    top: -150px;
    right: 50px;
    width: 300px;
    height: 270px;
    border-radius: 12px 12px 20px 20px ;
    transform: scale(0.80);
    overflow: hidden;
    opacity: 0.6;
    transition: 1.5s;
    animation: animateImgBxe 2s cubic-bezier(0.1, 0, 0, 0) forwards;
    
    
  }
  .containeur .carte .imgBxe {
    top: -60px;
    left: 685px;
    transform: scale(0.85);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    opacity: inherit;
    transition: 1.5s;
  }
  .containeur .carte .imgBxe img {
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; 
  }
  
  .containeur .carte .contente {
    left: 70px;
    position: absolute;
    width: 100%;
    padding: 0 30px;
    height: 45px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .containeur .carte .contente {
    position: relative;
    flex-direction:row;
    top: 20px;
    left: 35px;
    height: 100%;
    transition: 1.2s;
  }
  .containeur .carte:hover::before .contente {
    opacity: 0.5;
  }
  
  .containeur .carte:not(:hover) .contente {
    transition: opacity 0.5s ease;

  }
  
  
  .containeur .carte .contente h2 {
    font-size: 0.9em;
    font-weight: 600;
    color: black;
    position: relative;
    left: 4px;
    top: 15px;
  
  }
 
  
  
  .containeur .carte .contente p {
    
    color: #333;
    position: relative;
    width: 80%;
    left: 4px;
    font-size: 0.9em;
    top: 15px;
    transition: 0.5s;
  }
  
  

  .containeur .carte .contente .rdv {
    position: relative;
    justify-content: center;
    display:inline-block;
    padding: 12px 25px;
    background: #D60B52;
    color: #fff;
    font-weight: 500;
    font-size: small;
    top: 24px;
    left: 190px;
    height: 38px;
    text-decoration: none;
    border-radius: 18px;
    transition: 0.5s;
    
  }

  .containeur .carte .contente .rdv:hover {
    background-color: #ff1962;
  }

  
  @media only screen and (max-width: 768px) {
    .containeur {
      top: 20px;
      left: 0px;
      gap: 20px;
      padding: 50px 20px;
      
    }


    
  
    .containeur .carte {
      width: 350px;
      height: 460px;
      top: -5px;
      margin-bottom: 20px;
      left: -2px; /* Remplacer la largeur fixe par 100% pour occuper toute la largeur de l'écran */
      
    }
  
    .containeur .carte .imgBxe {
      position:absolute;
      top: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 90px;
      border-radius: 12px 12px 20px 20px ;
      overflow: visible;
      opacity: 0.7;
      animation: none;
      transition: 1.5s;
    }
  
    
    .containeur .carte .imgBxe img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }

  
    
  
    .containeur .carte .contente {
      top: 60px;
      left: -45px;
      transition: 1.2s;
      font-size:small;
    }
  
   
  
    .containeur .carte .contente h2 {
      display: flex;
      white-space: nowrap; /* Empêcher le retour à la ligne du texte */
      overflow: hidden; /* Cacher le débordement du texte */
      position: relative;
      left: 22px;
      top: -6px;
      font-size: 18px;
      transition: 0.5s;
      visibility: visible;
      
    }
  
    .containeur .carte .contente p {
      left: 27px;
      transition: 0.1s;
      width: 100%;
      top: -4px;
      font-size:15px ;
      display: flex;
      position: relative;
    }
  
    .containeur .carte.carte .contente .rdv {
      position: relative;
      justify-content: center;
      display: inline-block;
      padding: 12px 12px ;
      top: 18px;
      transition: 0.5s;
      left: 89px;
    }
  }
  
  
  
   
  